<!DOCTYPE html>
<html>
  <head>
    <title>users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% var isActive = active ? "yes" : "no" %>
    <h1> <%= first_name  %> <%= last_name %> </h1>
    <h3> Active: <%= isActive %></h3>
    <h3> Y-code: <%= y_code %> </h3>
    <a href="file:///Users/scottwilkins/workspace/week6/static_api_service/html/index.html">home</a>
  </body>
</html>
